.app {
  background-color: #ffffff;

  &__header {
    display: flex;
    border-bottom: 1px solid rgb(214, 214, 214);
    font-family: 'Nunito';
    font-style: normal;
    font-weight: bold;
    color: #2b3140;
    font-size: 14px;
    align-items: center;

    &__union-section {
      display: flex;
      margin-right: 15px;

      &__img {
        margin: 14px;
      }

      &__paragraph {
        color: #3156c6;
        border-bottom: 2px solid #3156c6;
        margin-bottom: 7px;
        justify-content: center;
      }
    }

    &__teams-section {
      display: flex;
      margin-right: 15px;

      &__img {
        margin: 12px;
      }

      &__paragraph {
        width: 100%;
        display: flex;
      }
    }

    &__favorite-section {
      display: flex;

      &__img {
        margin: 12px;
      }

      &__paragraph {
        display: flex;
      }
    }

    &__user-section {
      display: flex;
      margin-left: auto;
      align-items: center;
      padding-right: 20px;

      &__img {
        margin: 18px;
      }

      &__paragraph {
        display: flex;
      }
    }
  }
  &__search {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__paragraph {
      display: inline-block;
      font-family: 'Nunito';
      font-style: normal;
      font-weight: bold;
      width: 98px;
      height: 32px;
      font-size: 24px;
      line-height: 32px;
      color: #2b3140;
      padding-top: 15px 0;
      margin-left: 15px;
    }

    &__input {
      display: inline-block;
      background: #ffffff;
      border: 1px solid #d1d7e5;
      box-sizing: border-box;
      border-radius: 8px;
      max-width: 432px;
      width: 100%;
      height: 48px;
      margin-right: 300px;
    }
  }

  &__filters-section {
    display: flex;

    &__button {
      display: flex;
      font-family: 'Nunito';
      font-style: normal;
      font-weight: bold;
      border: 1px solid rgb(214, 214, 214);
      background-color: transparent;
      border-radius: 4px;
      width: 79px;
      height: 32px;
      left: 32px;
      top: 8px;
      font-size: 12px;
      padding: 4px 4px;
      margin: 7px 15px;
      padding-left: 3px;
      align-items: center;
      justify-content: center;

      &__img {
        margin-right: 5px;
      }
    }
  }
}
