.filters {
  display: inline-block;
  border-radius: 8px;
  background-color: #ffffff;
  max-width: 100%;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  padding-top: 0;
  vertical-align: middle;
  text-align: left;

  @include media-breakpoint-down(sm) {
    padding-bottom: 45px;
  }

  &__header {
    display: flex;
    justify-content: space-around;
    @include media-breakpoint-down(sm) {
      padding-top: 30px;
    }

    &__paragraph {
      display: inline-block;
      width: 67px;
      height: 32px;
      left: 32px;
      top: 20px;
      font-size: 24px;
      line-height: 32px;
      color: var(--black-color);
    }

    &__closer-button {
      display: inline-block;
      margin-left: auto;
      align-items: center;
      border: transparent;
      background-color: transparent;
      cursor: pointer;

      &__img {
        color: #2b3140;
        width: 14px;
        height: 14px;
        background-color: transparent;
      }
    }
  }

  &__buttons-section {
    display: flex;
    justify-content: flex-end;
    @include media-breakpoint-down(sm) {
      width: 100%;
      position: fixed;
      left: 0;
      padding: 10px 14px 35px 14px;
      background-color: #ffffff;
      border-radius: 16px 16px 0 0;
      z-index: 9999;
      justify-content: space-evenly;
      box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    }

    &__clear-button {
      display: inline-block;
      width: 117px;
      height: 44px;
      left: 115px;
      border: transparent;
      background-color: transparent;
      color: var(--blue-color);
      font-family: 'Nunito';
      font-style: normal;
      justify-content: flex-end;
      align-items: center;
      padding: 12px 16px;
      cursor: pointer;
      opacity: 1;
      transition: all 0.2s ease;
      @include media-breakpoint-down(sm) {
        width: 50%;
      }
    }

    &__search-button {
      display: inline-block;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      padding: 12px 16px;
      width: 117px;
      height: 44px;
      left: 115px;
      border-radius: 4px;
      background: var(--blue-color);
      border: transparent;
      color: white;
      cursor: pointer;
      @include media-breakpoint-down(sm) {
        width: 50%;
      }
    }
  }
}

.filters__buttons-section__clear-button:hover {
  transform: scale(1.1);
  transition: all 0.2s;
}

.filters__buttons-section__search-button:hover {
  transform: scale(1.1);
  transition: all 0.2s;
}
