.weight-and-height {
  display: flex;
  justify-content: start;

  &__checkbox {
    display: inline-block;

    &__paragraph {
      font-weight: bold;
      font-size: 16px;
    }

    &__label {
      @extend %checkbox-label;
      margin-bottom: 35px;
      max-width: 100%;
      height: 32px;
      margin-right: 2px;

      &__input {
        @extend %checkbox-input;
      }

      &__value {
        @extend %checkbox-value;
      }
    }
  }
}

.weight-and-height__checkbox__label > input:checked + span {
  visibility: visible;
  background-color: rgb(240, 233, 233);
}
