.div-modal {
  border-radius: 8px;
  border: 1px solid #edeef8;
  background-color: #ffffff;
  max-width: 100%;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
}
.filters-paragraph {
  width: 67px;
  height: 32px;
  left: 32px;
  top: 20px;
  font-size: 24px;
  line-height: 32px;
  color: #2b3140;
}
