.div-modal {
  display: inline-block;
  border-radius: 8px;
  background-color: #ffffff;
  max-width: 100%;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  padding-top: 0;
  vertical-align: middle;
  text-align: left;
}
.filters-paragraph {
  display: inline-block;
  width: 67px;
  height: 32px;
  left: 32px;
  top: 20px;
  font-size: 24px;
  line-height: 32px;
  color: #2b3140;
}
