.buttons-container {
  display: flex;
  justify-content: flex-end;
}

.clear-button {
  display: inline-block;
  width: 117px;
  height: 44px;
  left: 115px;
  border: transparent;
  background-color: transparent;
  color: #3156c6;
  font-family: 'Nunito';
  font-style: normal;
  justify-content: flex-end;
  align-items: center;
  padding: 12px 16px;
}
.search-button {
  display: inline-block;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 12px 16px;
  width: 117px;
  height: 44px;
  left: 115px;
  border-radius: 4px;
  background: #3156c6;
  border: transparent;
  color: white;
}

.closer-button {
  display: inline-block;
  margin-left: auto;
  align-items: center;
  border: transparent;
  background-color: transparent;
}

.closer-img {
  color: #2b3140;
  width: 14px;
  height: 14px;
  background-color: transparent;
}
.container-modal-header {
  display: flex;
  justify-content: space-around;
}
