.html,
body {
  height: 100%;
  margin: 0px;
}

.container {
  height: 100%;
}

.details-container {
  display: flex;
  background-color: white;
  color: #2b3140;
  height: 100%;

  &__pokemon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 600px;
    margin: 0;

    &__img {
      max-width: 90%;
    }
  }

  &__informations {
    display: inline-block;
    width: 100%;
    padding-left: 15px;

    &__details {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__name-area {
        align-items: center;

        &__name {
          text-transform: capitalize;
          font-size: 24px;
          line-height: 32px;
          padding: 15px 0 0 15px;
          margin-bottom: auto;
        }

        &__id {
          font-size: 14px;
          color: #6e7a96;
          padding: 0 0 0 15px;
          margin-top: auto;
        }
      }

      &__favorite-area {
        display: flex;
        padding-right: 30px;
        justify-content: end;
        align-items: center;

        &__add-button {
          display: flex;
          font-family: 'Nunito';
          font-style: normal;
          font-weight: bold;
          border-radius: 4px;
          background: var(--blue-color);
          border: transparent;
          color: white;
          cursor: pointer;
          padding: 17px 16px;
          width: 120px;
          height: 30px;
          text-align: center;
          font-weight: bold;
          font-size: 12px;
          // line-height: 20px;
          align-items: center;
          margin-right: 10px;
        }

        &__icon {
          display: flex;
          align-items: center;
        }
      }
    }
    &__filters {
      display: flex;
      padding-left: 15px;
      margin-top: 30px;

      &__height-and-weight {
        width: 84px;
        height: 68px;
        border: 1px solid #d1d7e5;
        border-radius: 4px;
        margin-right: 7px;
        padding: 16px 8px;

        &__paragraph-name {
          display: flex;
          margin: auto;
          justify-content: center;
          font-size: 10px;
          line-height: 12px;
          color: #6e7a96;
          padding-bottom: 4px;
        }

        &__paragraph-number {
          display: flex;
          margin: auto;
          justify-content: center;
          font-weight: 900;
          font-size: 14px;
          line-height: 20px;
          text-align: center;
        }
      }

      &__abilities {
        display: inline-block;
        align-items: center;
        padding: 16px 8px;
        width: 380px;
        height: 68px;
        border: 1px solid #d1d7e5;
        border-radius: 4px;

        &__paragraph-name {
          display: flex;
          margin: auto;
          justify-content: flex-start;
          font-size: 10px;
          line-height: 12px;
          color: #6e7a96;
          padding-bottom: 4px;
        }

        &__paragraph-value {
          margin: auto;
          font-weight: 900;
          font-size: 14px;
          line-height: 20px;
        }
      }
    }

    &__type {
      padding-left: 15px;
      margin-bottom: auto;
      font-weight: bold;
      font-size: 12px;
      line-height: 16px;
      color: #6e7a96;
      margin-top: 30px;
    }

    &__types {
      display: flex;
      align-items: center;
      padding-left: 15px;

      &__paragraph {
        border-radius: 4px;
        padding: 5px 5px;
        text-transform: capitalize;
        margin-right: 4px;
        display: inline-block;
        font-size: 10px;
        line-height: 12px;
        font-family: 'Nunito';
        font-style: normal;
        font-weight: bold;
      }
    }
    &__stats {
      flex-wrap: wrap;
      padding-left: 15px;
      margin-top: 30px;

      &__title {
        font-size: 16px;
        line-height: 24px;
      }
      &__name {
        font-size: 12px;
        line-height: 16px;
        color: #687289;
        text-transform: capitalize;
        font-weight: bold;
      }
      &__value {
        background: #edeef8;
        border-radius: 4px;
        width: 316px;
        height: 8px;
      }

      &__progressbar {
        background: #3156c6;
        height: 7px;
        border-radius: 4px;
      }
    }

    &__teams {
      padding-left: 15px;
      margin-top: 50px;

      &__title {
        font-size: 16px;
        line-height: 24px;
      }

      &__add-area {
        &__teams-paragraph {
          font-size: 14px;
          line-height: 20px;
          margin-bottom: auto;
        }

        &__add-teams {
          font-size: 14px;
          line-height: 20px;
          text-decoration: none;
        }
      }
    }
  }
}
