.types {
  flex-wrap: wrap;
  display: inline-block;

  &__paragraph {
    font-weight: bold;
    font-size: 16px;
    width: 36px;
    height: 24px;
  }
  &__section {
    @extend %checkbox-label;

    margin-bottom: 17px;
    height: 32px;

    &__input {
      // visibility: hidden;
      // appearance: none;
      // margin-right: 2px;

      @extend %checkbox-input;
    }
    &__value {
      @extend %checkbox-value;
      max-width: 100%;
      margin-top: 10px;
    }
  }
}

.types__section > input:checked + span {
  visibility: visible;
  background-color: rgb(240, 233, 233);
}
