// ===========================================================================================
// Button
// ===========================================================================================

$color-button: rgb(231, 226, 230);

// ===========================================================================================
// Body
// ===========================================================================================

$color-body: rgb(248, 248, 248);

// ===========================================================================================
// Paragraph
// ===========================================================================================

$paragraph-font-size: 50px;
 