// ===========================================================================================
// Button
// ===========================================================================================

$color-button: rgb(204, 159, 189);

// ===========================================================================================
// Body
// ===========================================================================================

$color: rgb(197, 193, 196);

// ===========================================================================================
// Paragraph
// ===========================================================================================

$paragraph-font-size: 50px;
