@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');
@import 'sass/variables';
@import 'sass/pokemon';
@import 'sass/inputSearch';
@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/mixins';
@import '../node_modules/bootstrap/scss/grid';
@import 'sass/inputFilters';
@import 'sass/inputPokedexParagraph';

* {
  box-sizing: border-box;
}

body {
  background-color: $color-body;
  div {
    button {
      background-color: $color-button;
      margin: 20px 0;
    }
    input {
      margin-bottom: 20px;
    }
  }
}
