@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');
@import 'sass/variables';
@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/mixins';
@import '../node_modules/bootstrap/scss/grid';
@import 'sass/pokemon';
@import 'sass/app';
@import 'sass/searchFilters';
@import 'sass/searchForTypes';
@import 'sass/inputCheckbox';
@import 'sass/filtersModal';
@import 'sass/pagination';
@import 'sass/loading';
@import 'sass/pokemonDetails';
@import 'sass/modalDetails';

* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}

body {
  margin: 0;
  position: relative;
  font-family: Nunito;
  // overflow: hidden;
}

:root {
  --black-color: #2b3140;
  --blue-color: #3156c6;
}
